.main {
  padding-top: 96px;
  padding-bottom: 115px;
}

.main__heading {
  font-family: "Whitney", "Arial", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  color: $heading-color;
}
