// Colors

$main-color: #ffffff;
$heading-color: #2E2D35;
$text-color: #474351;
$btn-color: #F25B24;





// Viewports

$tablet-width: 1023px;
$mobile-width: 767px;
$menu-width-only: 1023px;
$prices-width: 1250px;
