.navigation__toggle {
  display: none;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 72px;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: inherit;
    outline: none;
  }

  @media (max-width: 767px) {
    width: 50px;
    height: 50px;
  }
}


.navigation--closed .navigation__toggle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 50px;
  z-index: -1;
  background-color: $highlight-color;

  @media (max-width: 767px) {
    width: 50px;
  }
}

.navigation--closed .navigation__toggle::before {
  content: "";
  position: absolute;
  top: 23%;
  left: 34%;
  width: 22px;
  height: 1px;
  box-shadow: 0 6px 0 0 $toogle-color, 0 12px 0 0 $toogle-color, 0 18px 0 0 $toogle-color;

  @media (max-width: 767px) {
    top: 25%;
    left: 25%;
  }
}

.navigation--opened .navigation__toggle {

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 10px;
    width: 31px;
    height: 2px;
    opacity: 0.2;
    background-color: $darck-color;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

// Display without JS
@media (max-width: $menu-width-only) {
  .navigation--closed .navigation__item {
    display: none;
  }

  .navigation--closed .navigation__list {
    display: none;
  }

  .navigation--nojs .navigation__toggle {
    display: none;
  }

  .navigation--nojs .navigation__list {
    display: block;
    min-height: 0;
  }

  .navigation--nojs .navigation__item {
    display: flex;
    align-items: center;
  }
}

.navigation__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @media (max-width: $tablet-width) {
    display: block;
    padding-top: 82px;
    padding-bottom: 256px;
  }
}

.navigation__item {
  margin: 0;
  list-style: none;
  padding: 39px 20px 32px;
  background-color: inherit;
  position: relative;

  &:last-of-type {
    padding: 38px 34px 29px 71px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 28px;
    padding: 0;
    background-color: $question-background;

    &:last-of-type {
      display: none;
    }
  }
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: $darck-color;

  &:hover {
    color: $highlight-color;
  }

  &--telephone {
    font-size: 18px;
    line-height: 32px;
    display: block;
    text-decoration: underline;

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      top: 38px;
      left: 41px;
      background-image: url("../img/phone-icon.svg");
      background-repeat: no-repeat;
    }

    &:hover::before {
      top: 36px;
      left: 35px;
      background-image: url("../img/phone-icon__col.svg");
    }
  }

  @media (max-width: $tablet-width) {
    display: block;
    padding: 17px 0 17px 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: $header-color;
    text-decoration: none;

    &--telephone {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      top: 19px;
      right: 16px;
      background-image: url("../img/arrow-small.svg");
      background-repeat: no-repeat;
    }
  }
}
